# Dependencies
/node_modules
/.pnp
.pnp.js

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.venv
.env

# Build artifacts
dist/
build/
*.egg-info/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Secrets - NEVER commit secrets
*.env
secrets.yml
*.pem
*.key

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# Helm
/charts/
/tmpcharts/